.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    text-align: center;
    color: #24ACEA;
}

@media screen and (max-width: 630px) {
    .subtitle {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: 540;
        font-size: 25px;
    }
}